{% if recipient and message %}
    <span id="confirmation">Your message has been sent to: {{ recipient }}</span>;
{% endif %}
<form action="" method="post">
    <input name="recipient" type="email">
    <textarea name="message"></textarea>
    <input name="send" type="submit">
</form>